---
import Layout from "../layouts/Layout.astro";
import { db, UNIDADES, PRODUCTOS } from "astro:db";
const unidades = await db.select().from(UNIDADES);
console.log(unidades);
---

<Layout title="Welcome to Astro.">
    <h1>Registarar producto</h1>
    <label for=""> Producto</label>
    <input type="text" id="producto" />
    <label for=""> Cantidad</label>
    <input type="number" id="cantidad" />
    <label for=""></label>
    <select name="" id="unidades">
        {
            unidades.map((unidad) => (
                <option value={unidad.id}>{unidad.unidades}</option>
            ))
        }
    </select>
    <label for="">Fecha ingreso producto</label>
    <input type="date" id="fecha" />
    <button id="RegistrarProducto">Registrar Producto</button>
    <a href="/ListarProductos"> Listar</a>
    <button id="botonListar">Listar </button>
</Layout>
<script is:inline>
    const boton = document.getElementById("RegistrarProducto");
    boton.addEventListener("click", async () => {
        const response = await fetch("/api/producto", {
            method: "POST",
            body: JSON.stringify(producto),
            headers: { "Content-Type": "aplication/json" },
        })
        alert(response)
    });
    // import { db, UNIDADES, PRODUCTOS } from "astro:db";
    // import { POST } from "./api/producto";

    // async function agregarproductos(producto) {
    //     await db.insert(PRODUCTOS).values(producto);
    // }
    /*
    boton.addEventListener("click", async () => {
        alert("errrr");
        const id = (document.getElementById("producto") as HTMLInputElement)
            .value;
        const cantidad = (
            document.getElementById("cantidad") as HTMLInputElement
        ).value;
        const unidad = (document.getElementById("unidades") as HTMLInputElement)
            .value;
        const fecha = (document.getElementById("fecha") as HTMLInputElement)
            .value;
        parseInt(cantidad);
        const producto = {
            id: id,
            nombre: id,
            cantidad: cantidad,
            unidad: unidad,
            fechaIngreso: fecha,
        };
        // await agregarproductos(producto);
        console.log(producto);
    });
    */

    const boton2 = document.getElementById("botonListar");
    boton2.addEventListener("click", () => {});
</script>
