---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Sistema Inventario">
	<main>
		<h1>Sistema Inventario</h1>
		<button id="botonLogin">Login</button>
		<button id="botonLogout">Log out</button>
	</main>
</Layout>
