---
import Layout from "../layouts/Layout.astro";
import Index from "./index.astro";
import {db,PRODUCTOS} from "astro:db"
const productos = await db.select().from(PRODUCTOS)

---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Listado de productos</h1>
        <label for=""> Seleccione local</label>
        <select name="Local" id="Local">
            <option value="0">Casa</option>
            <option value="1">Local</option>
        </select>
        <input type="date" />
        <ul>
            {
                //productos.join()
                //document.getElementById("").innerHTML = productos.join("")
                productos.map((Producto) => <li>{Producto.nombre}</li>)
            }
        </ul>
        <button>imprimir</button>
        <a href="/AgregarProducto">Agregar productos </a>
        <button id="botonListar">Listar</button>
        <script>
            
             import { productos } from "../constantes";

             const boton = document.getElementById("botonListar");
             boton?.addEventListener("click", () => {
                console.log(productos);
            });
           
           
        </script>
    </main>
</Layout>
